html, body {margin:0; height:100%; background-color:#000;}
.delve {position: relative;}
.delve .en { font-family:Georgia,Serif; }
.delve .cn { font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu; }
.delve { margin:auto; width:1800px; height:900px; background-image:url(./images/background.jpg); background-position:0px -40px;}
.delve h1.title, .delve h2.title {
    display:block;
    margin: auto;
    height: 2em;
    font-size:5em;
    line-height:4em;
    font-weight:bold;
    text-align:center;
    -webkit-border-radius:15px;
    -moz-border-radius: 15px;
    color: #333;
    opacity: 0.8;
    position:relative;
    text-shadow: 0px 0px 11px #555;
}
.delve .menus {
    margin: auto;
    width: 400px;
    margin-top: 7%;
}
.delve .menu {
    margin: auto;
    margin-top: 2em;
    width: 100%;
    height: 2em;
    font-size:2em;
    line-height:2em;
    font-weight:bold;
    color:#fff;
    background-color:#333;
    text-align:center;
    -webkit-border-radius:15px;
    -moz-border-radius: 15px;
    opacity: 0.5;
    cursor:pointer;
    text-shadow: 0px 0px 11px #555;
}
.delve .menu.selected {
    color:#fff;
    font-size:2em;
    background-color:#000;
    opacity: 0.8;
}
.delve .stages {
    margin: auto;
    width: 50%;
    margin-top: 5%;
}
.delve .stage {
    float: left;
    width: 120px;
    height: 120px;
    margin: 80px 30px;
    color:#fff;
    background-color:#333;
    opacity: 0.8;
    font-size:60px;
    line-height:120px;
    font-weight:bold;
    text-align:center;
    -webkit-border-radius:15px;
    -moz-border-radius: 15px;
}
.delve .stage.selected {
    color:red;
    font-weight: bold;
}
.delve .stage.lock1 {
    background-image:url(./images/lock.png);
    background-repeat: no-repeat;
    background-position:center;
    text-indent: -9999px;
    overflow:hidden;
}

.delve .head {
    height: 2.2em;
    font-size:2.2em;
    line-height:2.2em;
    color: #333;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 11px #555;
    opacity: 0.8;
}
.delve .characterZone {
    position: absolute;
    left: 80px;
    width: 90%;
    height: 200px;
}
.delve .characterZone.heroZone {
    bottom: 50px;
}
.delve .characterZone.daemonZone {
    top: 80px;
}
.delve .characters {
    float:left;
    width: 760px;
    height: 100%;
}
.delve .character {
    float:left;
    width: 148px;
    height: 100%;
    margin: 10px;
    border: 5px solid #333;
    -webkit-border-radius:15px;
    -moz-border-radius: 15px;
    opacity: 0.8;
}
.delve .character.warrior {
    background-image:url(./images/warrior_gray.jpg);
}
.delve .character.warrior.actived {
   background-image:url(./images/warrior.jpg);
}
.delve .character.rogue {
    background-image:url(./images/rogue_gray.jpg);
}
.delve .character.rogue.actived {
   background-image:url(./images/rogue.jpg);
}
.delve .character.wizard {
    background-image:url(./images/wizard_gray.jpg);
}
.delve .character.wizard.actived {
   background-image:url(./images/wizard.jpg);
}
.delve .character.cleric {
    background-image:url(./images/cleric_gray.jpg);
}
.delve .character.cleric.actived {
   background-image:url(./images/cleric.jpg);
}
.delve .character.spider {
    background-image:url(./images/spider_gray.jpg);
}
.delve .character.spider.actived {
   background-image:url(./images/spider.jpg);
}
.delve .info {
    float:left;
    margin-top: 10px;
    width: 850px;
    height: 200px;
    font-size:2em;
    line-height:1.8em;
    font-weight:bold;
    color:#fff;
    background-color:#333;
    -webkit-border-radius:15px;
    -moz-border-radius: 15px;
    border: 5px solid #000;
    opacity: 0.7;
    text-shadow: 0px 0px 11px #555;
}
.delve .info .title{
    float:left;
    width: 15%;
    text-indent: 40px;
}
.delve .info .bloods{
    float:left;
    width: 30%;
}
.delve .info .blood{
    background:url(./images/blood.png) 0px 5px no-repeat;
    padding:0px 12px;
    margin:0px 3px;
}
.delve .info .skills{
    float:left;
    width: 30%;
}
.delve .info .skill{
    padding:0px 12px;
    margin:0px 3px;
}
.delve .info .skill.attack{
    background:url(./images/attack.png) 0px 4px no-repeat;
}
.delve .info .detail{
    clear: both;
    width:90%;
    margin:auto;
    color:#eee;
    font-weight:normal;
    line-height:1.4em;
}