<div class="delve">
    <h1 class="title cn">Delve·屠龙</h1>
    <div data-dojo-attach-point="settingContainer" class="settings">
        <div class="setting selected cn" data-delve-volume="0">
            <div class="label">音乐音量</div><div class="slider"><div class="cursor">&nbsp;</div></div><span class="volume">0%</span>
        </div>
        <div class="setting cn" data-delve-volume="0">
            <div class="label">音效音量</div><div class="slider"><div class="cursor">&nbsp;</div></div><span class="volume">0%</span>
        </div>
    </div>
</div>