<div class="delve">
    <h2 class="title cn">选择关卡</h2>
    <div class="stages cn" data-dojo-attach-point="stageContainer">
        <div class="stage selected">1</div>
        <div class="stage">2</div>
        <div class="stage lock">3</div>
        <div class="stage lock">4</div>
        <div class="stage lock">5</div>
        <div class="stage lock">6</div>
        <div class="stage lock">7</div>
        <div class="stage lock">8</div>
        <div class="stage lock">9</div>
        <div class="stage lock">10</div>
    </div>
</div>